# https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
trim_trailing_whitespace = true

[*.json]
max_line_length = off

[*.{md,markdown}]
max_line_length = off
trim_trailing_whitespace = false

[*.{hcl,tf,tfvars}]
max_line_length = off

[*.ps1]
max_line_length = off

[*.pub]
max_line_length = off

[Makefile]
indent_size = 8
indent_style = tab
